---
title: Their Royal Highnesses, Crown Prince and Crown Princess of Drachenwald
gallery:
  - image_path: /images/royals/vitus.jpg
    title: His Royal Highness Vitus
  - image_path: /images/royals/isabel.jpg
    title: Her Royal Highness Isabel
---
<p align="center">
    <a href="{{ site.baseurl }}{% link royals/index.html %}" class="btn btn--primary">King & Queen</a>
    <a href="#" class="btn btn--inverse">The Heirs</a>
    <a href="{{ site.baseurl }}{% link royals/territorial-royals.md %}" class="btn btn--primary">Landed Nobility</a>
	<a href="{{ site.baseurl }}{% link royals/drachenwald-succession.md %}" class="btn btn--primary">Drachenwald Succession</a>
</p>

<h2 style="text-align: center;"><a name="heirs"></a>Their Royal Highnesses<br/>The Crown Prince and Crown Princess of Drachenwald</h2>

<div style="margin-left:auto;margin-right:auto;max-width:600px;text-align: center">
    {% include gallery %}
</div>


<table>
<tr>
<td align="center">
  <h3 style="text-align: center;"><strong>Vitus Polonius</strong></h3>
  <h3 style="text-align: center;">(Rene Vestfjörd)</h3>
  <div style="text-align: center;"><a href="mailto:crownprince@drachenwald.sca.org">crownprince@drachenwald.sca.org</a></div>
</td>
<td align="center">
  <h3 style="text-align: center;"><strong>Isabel Peregrinus<br /></strong></h3>
  <h3 style="text-align: center;">(Helena Vestfjörd)</h3>
  <div style="text-align: center;"><a href="mailto:crownprincess@drachenwald.sca.org">crownprincess@drachenwald.sca.org</a></div>
</tr>

<tr>
  <td><b>About Vitus Polonius</b><br>
    His Highness was born a younger son of a Polish nobleman. Looking for his lot in life, he became involved in the founding of a city militia, but had to make a swift departure shortly afterwards following a dispute concerning taxes. On his way West from Poland he met part of Frederick I Barbarossa's host on their way to the Holy Land. Since the pay on offer was not bad, he signed up. Misfortune struck when the Emperor drowned in the Saleph river, but five thousand of his men reached Acre, Vitus among them. There, Vitus joined up with the forces of Richard Lionheart, since the pay on offer still was not bad. He saw the walls of Jerusalem and fought many battles in Outremer. He left on one of the last ships to Italy, and from there continued to England. Eventually, he made a small fortune and acquired an estate that allowed him to be knighted. He lives on the Downs in one of his estates, overseeing his large household.
  </td>
  
  <td valign="top"><b>About Isabel Peregrinus</b><br>
    Her Highness is the daughter of a Northern Italian nobleman. In the manner of the Known World, the tangling streams of time mean that her time of origin is the late fourteenth - early part of the fifteenth century. She met Vitus when he was on his way back from Palestine, passing through Italy, and they fell deeply in love. She is fond of travelling, and is often seen wearing the quaint dress of the Northern Europeans.
  </td>
</tr>

<tr>
  <td><b>His Highness is interested in:</b><br>
    Period fencing, cooking, woodwork, history of the Crusades
  </td>
  
  <td><b>Her Highness is interested in:</b><br>
    Archery
  </td>
</tr>

<tr>
  <td><b>His Highness likes:</b><br>
    Board games; medieval music, literature and visual art
  </td>
  
  <td><b>Her Highness likes:</b><br>
    Talking and socialising, filk
  </td>
</tr>

<tr>
  <td><b>His Highness dislikes:</b><br>
    Modern mundane items visible at events
  </td>
  
  <td><b>Her Highness dislikes:</b><br>
    Misspellings of Her name
  </td>
</tr>

<tr>
  <td><b>Please feed His Highness:</b><br>
    Large chunks of meat, marzipan, bread, all kinds of 15th century Italian food.
  </td>
  
  <td><b>Please feed Her Highness:</b><br>
    Plain hearty Northern European style food with all sauces on the side; honey butter; desserts and other sweet things
  </td>
</tr>

<tr>
  <td><b>Please do not feed His Highness:</b><br>
    Olives
  </td>
  
  <td><b>Please do not feed Her Highness:</b><br>
    Mustard, rosemary, marzipan
  </td>
</tr>

<tr>
  <td><b>His Highness has the following food restrictions:</b><br>
    None
  </td>
  
  <td><b>Her Highness has the following food restrictions:</b><br>
    All alliums (onions, leek, garlic, saffron, shallot, chives etc, including lilies as room decoration). Please pay attention to pre-bought condiments etc because many contain alliums. Her Highness prefers fewer safe dishes than many confusing or potentially harmful dishes.
  </td>
</tr>

<tr>
  <td><b>His Highness would like events to feature:</b><br>
    Dancing; bardic performances and especially entertainment during feasts; feasts early in the day (finished by 19:30) so that Their Highnesses and Their children can spend time with the people); modern mundane items (including plastic bottles, boxes and wrappings) being kept out of sight at all times.
  </td>
  
  <td><b>Her Highness would like events to feature:</b><br>
    Downtime to spend among Her people; children being involved in activities and having things to do.
  </td>
</tr>

</table>