---
title: Illumination Judging Criteria
---

Includes page illustration intended to accompany written text. Calligraphy need not be completed and will not be judged, but judges will consider the compatibility of style chosen and layout of the text area, in relation to the illumination. Entrant must note source of subject of text, but should not discuss text at length except as it directly relates to the illumination (Ex., if illumination illustrates subject matter of text). Full page miniatures with no text space on the page may be entered if entrant specifies in documentation what text or subject matter the page could accompany. For purposes of competition, SCA awards or official documents will be considered period texts.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6)card with ANY of the following: Identification / description / use of the entry. Date and place/country of origin entry is modeled on, and style. Reference<br />
• Materials used in the project (ex. type of paint, inks, and paper)<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process ( ex. gilding)<br />
• Research (country, period of origin, typical characteristics, etc.) Description of style or school characteristics(i.e. Kells vs. Durrow) or discussion of logic applied to design of entry.<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: No evident attempt at period look; blatantly modern style/materials (felt tip pens, crayons, colored pencils, etc.).<br />
• 1: Out of period piece, but some knowledge of what would have been correct.<br />
• 2: Some attempt at period look. Used some period elements, but used modern materials.<br />
• 3: Generally period with some obviously modern elements, OR obvious mixture of elements from different cultures or periods (Ex., acanthus leaves on a Celtic page).<br />
• 4: Fairly period effect. Mostly period design elements, but with some modern materials (such as acrylic paints).<br />
• 5: Use of some period elements, but a mixing of genre inappropriately (Ex., Gothic ivy with Celtic knotwork).<br />
• 6: Use of some period elements; no mixing of genre.<br />
• 7: Good attempt at looking like medieval or renaissance work. Some period materials or reasonable substitutes (artificial gold leaf, period-looking paper parchment, or period type pigments).<br />
• 8: Used all period design elements, few modern materials. Period effect outweighs distraction of modern aspects.<br />
• 9-10: Special effort to achieve a substantially period product by use of such elements as layout, materials, tools, techniques, etc. Illumination appropriate to subject matter of intended text.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• Number, size, variety, intricacy and placement of design motifs; illuminated capitals.<br />
• Use of miniatures, theme and/or attempt to relate illumination to text.<br />
• Scale, balance of borders and general design with respect to the calligraphy.<br />
• Difficulty of materials and tools used (consider paint, gold, tools, parchment, etc.)<br />
• Difficulty of compositions attempted (layout, proportion, balance, etc.)<br />
• Difficulty of design elements attempted (borders, capitals, miniatures, embellishments, etc.)<br />
• Difficulty of techniques attempted (gilding, gold leaf, shading, leaf styles, etc.)<br />
• Variety of techniques/design elements attempted<br />
• Scope of undertaking (size of work relative to amount of detail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Control of medium (i.e. brush strokes, runs, color mixing, straight lines, clean edges, etc).<br />
• Harmonious color use (by period standards).<br />
• Shading (or lack thereof) consistent with a specified style.<br />
• Well finished and neatly completed. (No smeared paint, runs, smudges, sloppy in appearance)<br />
• Appropriate level of detail.<br />
• Special embellishments or personalization</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>