---
title: Needlework Judging Criteria
---

Includes styles such as couching, trapunto, applique, smocking, quilting, beadwork. Approved SCA heraldic devices will be considered period if heraldry was used in the period of the embroidered piece.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, use in period) visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design, intended purpose of item, and rationale for layout of motifs and stitches used.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Non-period item OR other blatant modernity such as machine embroidery or blatantly modern materials.<br />
• 1: Out of period but shows some knowledge of period techniques<br />
• 2: Generally period but with obvious non-period elements: Ex: an SCA-specific piece (ribbon favor, etc.), questionable design, stitches, etc.; OR obvious mixture of elements from different periods or cultures.<br />
• 3-4: Gives appearance of period piece even with major flaws in execution and inconsistencies in stitches or design<br />
• 5-6: Overall period effect with minor inconsistencies; materials period (linen, silk, wool) or reasonable equivalent.<br />
• 7-8: Period effect achieved, minor flaws and inconsistencies but with knowledge of correct methods demonstrated<br />
• 9: Period piece; no inconsistencies or flaws.<br />
• 10: Special effort to achieve completely period effect by using period design, materials, tools, techniques, etc.; elements consistent to each other.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Pattern ( single geometric to more complex)<br />
• Difficulty of motifs (Ex: geometric pattern is easier than human figure)<br />
• Variety ( one color, one stitch type, single motif to more of the above) and variety of elements/motifs/stitches/techniques<br />
• Difficulty of materials used (Ex: cotton easiest, then silks, wools, linen, velvet, metallics, are hardest)<br />
• Scope ( single row of garb trim - easiest, to more complex project; size in relation to detail)<br />
• Design (how are motifs combined)<br />
• Difficulty of stitches and techniques used (suggested order of complexity, easy to hard: beadwork, quilting, smocking, applique, trapunto, couched gold)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Evenness (especially on geometric designs) and neatness<br />
• Starts and ends and Tension<br />
• Uniformity (in density, stitch length, etc.)<br />
• Finishing of piece (hemming, applique, etc.)</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.<br />
• Planning of basic design concept? Are design and type of stitches appropriate to purpose of item ?<br />
• Cohesion among design, colors and materials?<br />
• Does whole project hangs together well and give feeling of being difficult to improve upon?</p>